@media screen and (max-height: 880px) {
  .btn_top_wrap {
    position: relative;
    margin: 30px 0 0 0;
  }

  .main_title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1366px) {
}

/* стили для md-устройств */
@media screen and (max-width: 1200px) {
  .ind_list_item {
    padding: 15px 20px;
  }
  .ind_list_item {
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .ind_list_item span {
    font-size: 25px;
  }

  .blog_feed_form {
    display: block;
  }
  .blog_feed_btn {
    margin-left: 0;
    margin-top: 20px;
  }
  .blog_list_item_title {
    font-size: 18px;
  }
  .blog_list_item_text {
    font-size: 12px;
  }
}

/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
}

/* стили для sm-устройств */
@media screen and (max-width: 991px) {
  .main_block_wrap {
    margin: 0 0 30px 0;
  }
  .nav-mobi-wrap {
    display: block;
  }
  .secret_code {
    margin-bottom: 0;
  }
  .row_main2 {
    display: none;
  }
  .section_main2 {
    display: block !important;
  }
  .section_dec .row {
    flex-direction: column !important;
  }
  .nav-tabs .nav-link {
    height: 330px;
  }
  #myTab {
    display: none;
  }
  .nav_wrap {
    display: block !important;
  }
  .nav-mobi {
    display: block !important;
  }
  .nav-mobi .slick-slide {
    margin: 0;
  }
  .link_bref {
    display: inline-block;
    margin: 10px 0 0 0;
  }

  #navigation > li {
    margin: 0 0px 5px 0;
  }

  .tab-content {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
  }
  /* .tab-pane img {
    max-height: 230px;
  } */
  .nav-tabs .nav-link span {
    font-size: 14px;
    line-height: 23px;
    display: block;
    color: #ffffff;
    margin: 20px 25px 20px 0;
  }

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50px;
    background: #fff;
    left: 0;
    padding: 15px 15px 15px 15px;
    width: 100%;
    text-align: left;
  }
  .navbar_white .navbar-nav li a {
    color: #000 !important;
  }
  .navbar_wrap {
    display: flex;
    flex-flow: row-reverse;
  }

  .navbar-light .navbar-toggler {
    border: none;
    color: #000;
    padding: 0 8px 0 0px;
    text-align: left;
  }

  .link_bref {
    display: none;
  }

  .link_bref2 {
    display: block;
  }

  .link_bref {
    margin: 0px 0 0 0;
  }
  .ind_icons {
    flex-direction: row;
  }

  .ind_line {
    height: 3px;
    width: 96px;
    margin: 0 17px;
  }
  .ind_list_item {
    padding: 5px 10px;
  }
  .ind_list_item img {
    width: 20px;
  }
  .ind_text {
    font-size: 16px;
  }
  .ind_title {
    font-size: 32px;
  }
  .ind_list_item span {
    font-size: 20px;
    margin-left: 10px;
  }
  .blog_list_item_title {
    font-size: 12px;
    margin-bottom: 0;
  }
  .blog_list_item_text {
    font-size: 10px;
  }
  .blog_list_item_btn {
    font-size: 10px;
  }
  .key_title {
    font-size: 32px;
  }
  .key_body {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
  .row-solution {
    height: 100% !important;
    flex-direction: row;
  }
  .tab-content {
    align-items: center !important;
  }
}

@media screen and (max-width: 830px) {
  .nav-tabs .nav-link {
    height: 260px;
  }

  .main_title {
    font-size: 49.2609px;
    line-height: 97.5%;
    position: relative;
    font-family: "Jost-SemiBold";
    margin-bottom: 19px;
  }
}

/* Ipad*/
@media screen and (max-width: 767px) {
  .section .fp-tableCell {
    padding-top: 61px !important;
  }
  .section-blog, .section_article {
    padding-top: 61px;
  }
  .mobi-row {
    justify-content: space-between !important;
    flex-direction: column !important;
    height: 100% !important;
  }
  .main_img img {
    max-height: 230px;
  }
  .section_about .row {
    margin-top: 0!important;
  }

  .keys_list,
  .keys_list .slick-list,
  .keys_list .slick-list .slick-track {
    height: 100% !important;
  }
  .keys_list_wrap {
    height: 100% !important;
  }
  .row_main {
    height: 100% !important;
  }

  .dev_top {
    font-size: 13px;
  }
  .form-group {
    display: block;
  }

  .secret_title {
    font-size: 25px;
  }
  .input_group {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .input_group label {
    font-size: 12px;
  }
  .brief_title {
    font-size: 32px;
  }

  .quiz_content_title {
    font-size: 24px;
  }
  .quiz_list_item {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-bottom: 10px;
  }
  .brief_quiz {
    border: none;
    padding: 0;
  }
  .quiz_list_item_name {
    margin: 0;
    margin-left: 18px;
  }
  .quiz_list_item img {
    width: 37px;
    height: 37px;
  }
  .quiz_contents {
    margin-bottom: 15px;
  }
  .quiz_content_title {
    margin-top: 24px;
  }

  .breif_left_icon {
    display: block;
    margin-left: auto;
  }
  .quiz_list {
    display: block;
  }
  .quiz_content-mt67 {
    margin: 0;
  }
  .brief_breadcrumbs {
    display: none;
  }
  .main_img_hero {
    display: none;
  }
  .team_title {
    font-size: 32px;
  }
  .team_title span {
    font-size: 14px;
  }
  .team_block_wrap,
  .team_block_wrap2 {
    padding: 10px 0 10px 0;
  }
  .team_img {
    text-align: center;
    padding-top: 20px;
  }
  .team_img img {
    max-height: 440px;
  }
  .about_title {
    font-size: 32px;

    padding: 10px 0 10px 0;
  }
  .card-header button {
    font-size: 16px;
    padding: 4px 20px;
  }
  .about_card img {
    max-height: 180px;
  }
  .about_wrap {
    margin: 0;
  }
  .card-body {
    font-size: 14px;
    padding: 0px 0 5px 20px;
  }
  .main_img-mobi {
    display: block;
  }

  .key_body {
    font-size: 12px;
    margin: 0 0 5px 0;
    line-height: 18px;
  }
  .key_title {
    margin: 0 0 10px 0;
  }
  .keys_list_item_title {
    font-size: 18px;
  }
  .keys_list_item_text {
    font-size: 16px;
  }
  .btn_key {
    margin: 0 auto;
    margin-top: 20px;
  }

  .main_title {
    font-size: 35px;
    line-height: 97.5%;
    position: relative;
    font-family: "Jost-SemiBold";
    margin-bottom: 19px;
  }

  .btn_top_wrap {
    position: relative;
    margin: 40px 0 0 0;
  }

  .row_main {
    margin: 0 0 0 0 !important;
  }

  .nav-tabs .nav-link span {
    font-size: 14px;
    line-height: 23px;
    display: block;
    color: #ffffff;
    margin: 20px 10px 20px 0;
  }

  .nav-tabs .nav-link {
    height: 230px;
  }

  .about_wrap {
    margin-top: 100px;
  }

  .blog_list_item_title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .blog_list_item_text {
    font-size: 16px;
  }
  .blog_list_item_btn {
    font-size: 16px;
  }
  .footer_list_item {
    text-align: center;
  }
  .footer_list_item-first {
    margin-bottom: 50px;
  }
  .footer_list_item-last {
    margin-top: 50px;
  }

  .ind_list_item {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .tab-pane img {
    max-height: 330px;
  }
 
}

/* Ipad mini*/
@media screen and (max-width: 640px) {
  .row_main2 {
    display: none;
  }
  .ind_text {
    font-size: 14px;
  }
  .technology_list {
    display: flex;
  }
  .main_img {
    display: none;
  }
  .main_img-mobi {
    display: block;
  }
  .technology_title {
    font-size: 32px;
  }
  #myCanvasContainer {
    display: none;
  }
  #tags {
    display: none;
  }
  .section_main2 .main_block_wrap {
    padding: 12px;
  }
  .icon_top {
    margin-bottom: 10px;
  }
  .main_block_title {
    font-size: 12px;
  }

  .btn_top_bg {
    display: none;
  }

  .btn_top {
    padding: 19px 0 17px 25px;
  }

  .btn_top_wrap {
    display: none;
  }

  .btn_top_wrap2 {
    display: block;
    width: 100%;
  }
  .btn_top_wrap2 button {
    margin: 0 auto;
  }

  .dev_top {
    font-size: 14px;
  }

  .main_img img {
    max-height: 270px;
  }

  .container {
    padding: 0;
  }

  .article_title {
    font-size: 32px;
  }
  .blog_list_item_title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .blog_list_item_text {
    font-size: 14px;
  }
  .blog_list_item_btn {
    font-size: 14px;
  }
  .tab-pane img {
    max-height: 300px;
  }
}

/* Galaxy S8+*/
@media screen and (max-width: 480px) {
  .card-header button {
    font-size: 14px;
  }
  .card-header {
    margin: 0 0 5px 0;
  }
  .technology_list_item a {
    font-size: 12px;
    padding: 10px 20px;
  }

  .area_code {
    font-size: 9px;
  }

  .icon_top {
    margin: 0 0 5px 0;
  }
  .key_title {
    margin: 0 0 5px 0;
  }

  .keys_list_item_text {
    font-size: 14px;
  }
  .keys_list_item_title {
    font-size: 16px;
  }

  .blog_feed_title {
    font-size: 24px;
    margin: 0;
  }
  .blog_feed_text {
    font-size: 16px;
  }
  .tag_list_item {
    margin-right: 7px;
    font-size: 14px;
    padding: 6px 14px;
  }
  .blog_list_item_title {
    font-size: 12px;
  }
  .blog_list_item_text {
    font-size: 10px;
  }
  .blog_list_item_btn {
    font-size: 10px;
  }
  .footer {
    padding: 35px 0;
  }
  .nav-mobi-wrap {
    height: 270px;
  }
  .quiz_contents {
    margin-bottom: 15px;
  }
  .tab-pane img {
    max-height: 200px;
  }
  .card-body {
    font-size: 12px;
    padding: 0px 0 0px 20px;
  }
  .main_title {
    margin-bottom: 10px;
  }
  .code_area {
    width: 280px;
}
}

/* Galaxy*/
@media screen and (max-width: 391px) {
  .main_block_title {
    font-size: 12px;
    line-height: 18px;
    font-family: "Jost-Light";
    color: #333333;
  }
  .section_keys2 .fp-tableCell {
    padding: 0 !important;
  }
  .about_card img {
    max-height: 150px;
  }
  .ind_list_item span {
    font-size: 16px;
  }
  .quiz_progress {
    width: 250px;
  }
  .code_area {
    width: 230px;
}
}

/* Iphone 6.7.8 */
@media screen and (max-width: 376px) {
  .dev_top {
    font-size: 13px;
  }
  .tab-pane img {
    max-height: 200px;
  }
  .btn_top {
    padding: 10px 0 10px 25px;
  }

  .quiz_step {
    font-size: 12px;
    margin-right: 5px;
  }

  .main_img {
    margin: 7px 0 0 0;
  }

  .btn_top_wrap2 {
    display: block;
  }

  .main_img {
    height: auto;
    text-align: center;
  }

  .main_img img {
    height: 220px;
  }

  .main_img {
    margin: 10px 0 0 0;
  }

  .section_main2 .main_block_wrap {
    padding: 10px;
  }

  .btn_key {
    margin-top: 10px;
  }
  .quiz_form label {
    margin: 0;
  }
}

/* Iphone 5.5SE */
@media screen and (max-width: 320px) {
  /*section main*/
  .row_main {
    margin: 0 !important;
    padding-bottom: 20px !important;
  }
  .dev_top {
    margin-bottom: 10px;
    padding: 0 40px;
  }
  .main_title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .main_body {
    font-size: 16px;
  }
  .btn_top {
    width: 100%;
    font-size: 16px;
  }
  .main_img-mobi img {
    max-height: 150px;
  }
  /*sectin main-2 */
  .section_main2 .main_block_wrap {
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
  }
  /*section solution */
  .dec_title {
    font-size: 32px;
  }
  .nav-tabs .nav-link {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    height: 180px !important;
    margin: 0 20px 0 0;
  }

  .nav-mobi-wrap {
    height: 180px !important;
    margin-bottom: 20px;
  }

  .nav-item ul li {
    font-size: 12px;
  }
  .nav-item ul {
    margin: 17px 0px 0px 14px;
  }
  .tab-pane img {
    max-height: 150px;
  }
  /*industries*/
  .ind_title {
    margin-bottom: 10px;
  }
  .ind_list_item span {
    font-size: 14px;
  }
  .ind_text {
    font-size: 12px;
  }
  .ind-text-tab p {
    margin-bottom: 10px;
  }
  .ind_icons {
    height: 60px;
  }
  /*section keys */
  .keys_slide {
    display: none;
  }
  /*section work*/
  .section_keys2 .fp-tableCell {
    padding-top: 43px !important;
  }
  .about_title {
    padding: 0px 0 10px 0;
  }
  .team_block_wrap,
  .team_block_wrap2 {
    padding-top: 5px;
  }
  .team_title {
    font-size: 25px;
  }
  .team_title span {
    font-size: 12px;
  }
  .team_img img {
    max-height: 230px;
  }
  /*section about*/
  .card-header button {
    font-size: 12px;
  }
  .card-body {
    font-size: 12px;
  }
  .about_wrap {
    display: none;
  }
  /*tech section*/
  .technology_title {
    font-size: 25px;
  }
  .technology_list_item a {
    padding: 8px 15px;
  }
  .technology_list_item {
    margin: 8px 5px;
  }
  /*section breaf*/

  .brief_title {
    font-size: 25px;
  }
  .quiz_content_title {
    margin-top: 10px;
    font-size: 18px;
  }
  .quiz_list_item {
    height: 50px;
  }
  .quiz_list_item_name {
    font-size: 14px;
  }

  .quiz_step {
    font-size: 10px;
  }
  .quiz_step span {
    font-size: 10px;
  }
  .form-group {
    margin: 0;
  }
  .form-group label {
    margin: 0;
  }
  .form-group input {
    margin: 0;
  }
  .input_group {
    margin: 0;
  }
  .upload-photo {
    margin-top: 10px;
    padding: 5px 15px;
  }
  .quiz_contents {
    margin-bottom: 15px;
  }
  .quiz_form_input {
    padding: 0;
  }
  /* secret*/
  .secret_code {
    padding: 7px 7px 9px 7px;
  }
  .area_code {
    line-height: 14px;
  }

  /*footer*/
  .footer {
    padding: 0;
  }
  .footer_list_item-first {
    margin-bottom: 8px;
  }
  .footer_list_item-last {
    margin-top: 8px;
  }
}

@media screen and (max-height: 900px) {
  .nav-tabs .nav-link {
    height: 260px;
  }

  .nav-tabs .nav-link span {
    font-size: 15px;
    line-height: 18px;
    display: block;
    color: #ffffff;
    margin: 10px 25px 20px 0;
  }

  .section_keys .fp-tableCell {
    background: #333333;
  }
}

@media screen and (max-height: 600px) {
  .section_main2 {
    display: block !important;
  }
  .row_main2 {
    display: none;
  }
  .section_dec .fp-tableCell {
    padding-top: 61px;
  }
  .nav-tabs .nav-link {
    height: 223px;
  }
  .nav-item ul {
    margin: 6px 0px 0px 10px;
  }
  .nav-mobi-wrap {
    height: 227px;
  }
  .secret_code {
    margin-bottom: 0;
  }
  .input_group {
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .section_brief .fp-tableCell {
    padding: 43px 0 0 0;
  }
  .quiz_contents {
    margin-bottom: 15px;
  }
  .quiz_content-mt67 {
    margin: 0;
  }
  .section_technology .fp-tableCell {
    padding: 43px 0 0 0;
  }
}
